<footer class="bg-dark text-white pt-4" id="footer-main">
  <div class="container text-center text-md-start">
      <div class="row">
          <!-- Logo Section -->
          <div class="col-md-4">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRORteuqtaG0f0C2WogImr0JL4ui6yAckU2-A&usqp=CAU" 
                   alt="footer_logo" class="img-fluid mb-2" width="100">
              <p>Technology Guest House, IIT Kharagpur</p>
              <p>Kharagpur, 721302</p>
          </div>

          <!-- Contact Information -->
          <div class="col-md-4">
              <h5>Contact Us</h5>
              <p><a href= "https://g.co/kgs/j4ZFy6u" target="_blank" class="text-white text-decoration-none"><i class="bi bi-geo-alt-fill"></i> Technology Guest House, IIT Kharagpur</a></p>
              <p><i class="bi bi-telephone-fill"></i> +91 9756284919 | 0240 2573842</p>
              <p><i class="bi bi-envelope-fill"></i> oghbs@iitkgp.ac.in</p>
          </div>

          <!-- Social Media Icons -->
          <div class="col-md-4">
              <h5>Follow Us</h5>
              <ul class="list-unstyled d-flex gap-3">
                  <li><a href="https://www.facebook.com/IITKgp" class="text-white"><i class="bi bi-facebook fs-4"></i></a></li>
                  <li><a href="https://twitter.com/IITKgp" class="text-white"><i class="bi bi-twitter fs-4"></i></a></li>
                  <li><a href="https://www.instagram.com/iit.kgp" class="text-white"><i class="bi bi-instagram fs-4"></i></a></li>
                  <li><a href="https://www.linkedin.com/school/indian-institute-of-technology-kharagpur" class="text-white"><i class="bi bi-linkedin fs-4"></i></a></li>
              </ul>
          </div>
      </div>
  </div>

  <!-- Copyright Section -->
  <div class="text-center py-3 bg-secondary">
      <span>Copyright © 2025, All Rights Reserved Seobin</span>
  </div>
</footer>